html {
  height: 100%;
  margin: 0;
  background-image: url("./Resources/kyle-bushnell-Zi3Pt6lW1eo-unsplash.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}